
@{
    ViewData["Title"] = "Index";
}
<section>
    <div class="card text-white bg-secondary mb-3">
        <div class="card-header px-3 py-2">
            <h1 class="card-title display-4" >ASP.NET Core Single Page Application Project</h1>
            <h2 class="card-subtitle display-5">Implemented using JavsScript & jQuery</h2>
        </div>

        <div class="card-body p-4">
            <div class="card-text">
                <h3 class="display-6">Technoligies</h3>
                <ul>
                    <li>.NET Core 6.0</li>
                    <li>Vanila JavaScript</li>
                    <li>jQuery</li>
                    <li>Bootstrap 5.2.2</li>
                    <li>Bootstrap-icons 1.9.1</li>
                </ul>
            </div>

        </div>
        <p style="text-align:justify;">
                    <br /><br />Since its inception, Utility Services has provided guidance and assistance on registration, 
                    compliance, and standard development to over 100 registered entities in all eight NERC regions of the 
                    United States and Canada. Our constituents include publicly owned entities, independent generation, and
                    transmission owners. Utility Services has participated in over 200 audits since its inception. To date,
                    our customers have had less than 10 enforcement actions..<br />
                    <br />
                    <br />
                </p>
        <div class="card-footer">
            <a asp-action="Index" asp-controller="Main" class="btn btn-primary">Go to Main Page</a>
        </div>
    </div>
</section>

